@import 'styles/_variables.scss';
@import 'styles/_mixin.scss';

.sidebar {
  position: fixed;
  top: 50px;
  left: 0;
  width: 50px;
  height: calc(100vh - 50px);
  background-color: $c-white-base;

  @include box-shadow(1px 0 0 rgba(0,0,0,.05));

  .menu {
    display: block;
    top: 0;
    position: absolute;
    left: 0;
    width: calc(100vh - 50px);
    text-align: right;
    transform: rotate(-90deg);
    transform-origin: top left;
    margin-top: calc(100vh - 50px);

    ul {
      list-style: none;
      display: block;
      height: 50px;
      overflow: hidden;
    }

    ul, li {
      padding: 0;
      margin: 0;
    }

    .menu-item {
      float: right;
      a {
        line-height: 50px;
        display: inline-block;
        color: $c-black-base;
        text-decoration: none;
        letter-spacing: .05em;
        text-transform: uppercase;
        padding: 0 $gutter-md;
        position: relative;
        white-space: nowrap;
        cursor: pointer;

        &:hover {
          color: $c-grey-base;
          &:after {
            width: 100%;
            background: $c-grey-lighten-1;
          }
        }

        &:after {
          display: block;
          width: 0;
          height: 2px;
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
        }

        &.active {
          color: $c-grey-base;
          &:after {
            width: 100%;
            background-color: $c-grey-base;
          }
        }
      }
    }
  }
}